<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Каталог{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="{% if app.request.attributes.get('_route') starts with 'home' %}active{% endif %}"><a href="{{ path('home') }}">Главная</a></li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'book' %}active{% endif %}"><a href="{{ path('book_list') }}">Книги</a></li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'author' %}active{% endif %}"><a href="{{ path('author_list') }}">Авторы</a></li>
                </ul>
                <h3 class="text-muted">Каталог авторов и книг</h3>
            </div>
            {% block body %}{% endblock %}
        </div>

        {% javascripts '@AppBundle/Resources/public/js/jquery-3.3.1.min.js'
                       '@AppBundle/Resources/public/js/bootstrap.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
