{% extends 'base.html.twig' %}
{% block title %}Список книг{% endblock %}

{% block body %}
    <a href="{{ path('book_add') }}" class="btn btn-success" style="margin-bottom: 20px;">Добавить книгу</a>
    <table class="table table-bordered">
        <tr>
            <th>Название</th>
            <th>Год</th>
            <th>ISBN</th>
            <th>Кол-во страниц</th>
            <th>Обложка</th>
            <th>Авторы</th>
            <th>Ред.</th>
            <th>Уд.</th>
        </tr>
        {% for book in bookList %}
            <tr>
                <td>{{ book.getName() }}</td>
                <td>{{ book.getPublish() }}</td>
                <td>{{ book.getIsbn() }}</td>
                <td>{{ book.getPage() }}</td>
                <td><img src="{{ asset('uploads/cover/' ~ book.cover) }}" class="img-thumbnail" style="width:110px; height: auto;"></td>
                <td>
                    {% if book.getAuthors() is not null %}
                        {% for author in book.getAuthors().getValues() %}
                            {{ author.getFio() }} {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td><a href="{{ path('book_update', {'id' : book.getId()}) }}">Ред.</a></td>
                <td><a href="{{ path('book_delete', {'id' : book.getId()}) }}">Уд.</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}